<div class="my-profil-container">
    <div class="my-information">
        <div class="my-description">
            <h1 class="my-name">Florian MARTIN</h1>
            <p>26 ans</p>
            <p>Permis B</p>
        </div>
        <div class="contact">
            <div class="mail">
                <mat-icon>email</mat-icon>
                <p class="text-mail">florian.martin63000@gmail.com</p>
            </div>
            <div class="phone">
                <mat-icon>smartphone</mat-icon>
                <p class="phone-number">06 59 74 72 15</p>
            </div>
            <div class="address">
                <mat-icon>home</mat-icon>
                <p class="litteral-address">
                    40 rue de Vallières, 63000 Clermont-ferrand
                </p>
            </div>
        </div>
    </div>
</div>
